
<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <% if can? :update, @article %><%= link_to "Edit this article", edit_article_path(@article) %> |
  <%end%>
  <%= link_to "Back to articles", articles_path %>
<% if can? :update, @article %>
  <%= button_to "Destroy this article", @article, method: :delete %>
<%end%>
</div>


<div>
<% @article.upload.each do |upload|%>
<% if upload.image?%>
<%=link_to image_tag(upload, width:400), upload %>
<%end%>
<%end%>
  </div>
